<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="gymMemberPic">
	<insert id ="insertGymMemberPic" parameterType="GymMemberPicDTO">		
		INSERT INTO
				`GYM_MEMBER_PIC` (
					UUID,			 
					MEMBER_ID, 		
					FILE_NAME, 			
					LOG_DATE		
				)				
						 
		VALUES (
				#{uuid},
				#{memberId},
				#{fileName},
				NOW()
				)
		</insert>
	</mapper>